<nz-page-header [nzTitle]="pageTitle" [nzGhost]="false">
  <nz-breadcrumb [nzAutoGenerate]="true" nz-page-header-breadcrumb appBreadcrumbTranslate></nz-breadcrumb>
</nz-page-header>

<ng-template #pageTitle>
  {{ '当前账号' | translate }}
</ng-template>

<div style="padding: 20px 20px">
  <nz-card style="width:300px;" [nzHoverable]="true">
    <nz-card-meta
      [nzTitle]="account.user().name"
      [nzDescription]="account.user().platform"
      [nzAvatar]="avatarTemplate"
    ></nz-card-meta>
  </nz-card>
  <ng-template #avatarTemplate>
    <nz-avatar [nzSrc]="account.user().avatar"></nz-avatar>
  </ng-template>
</div>
