.login-background {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}

.centered-card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 72vh;
}

nz-card {
  width: 448px;
  border-radius: 12px;
}

.login-title {
  padding-top: 8px;
  padding-bottom: 8px;
  display: flex;
  font-size: 24px;
  justify-content: center;
  align-items: center;
}

.login-btn-container {
  min-height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;

  .login-button {
    width: 100%;
    height: 50px;
    font-size: 16px;
    border-radius: 12px;
  }
}

.login-btn-others {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
}

.login-header {
  background: transparent;
  position: relative;
  height: 90px;
  padding-left: 32px;
  padding-right: 32px;
  overflow: hidden;
  line-height: 64px;

  img {
    display: inline-block;
    height: 32px;
    width: 32px;
    vertical-align: middle;
  }

  h3 {
    display: inline-block;
    margin: 0 0 0 12px;
    color: #000000;
    font-weight: 600;
    font-size: 18px;
    font-family:
      Avenir,
      Helvetica Neue,
      Arial,
      Helvetica,
      sans-serif;
    vertical-align: middle;
  }
}
