<!-- 03/04 读寄存器的表单值区（数量 / 数据格式 / 字节序 / 缩放系数 / 单位） -->
<nz-form-item>
  <nz-form-label [nzSpan]="4" [nzRequired]="true">{{ '数量' | translate }}</nz-form-label>
  <nz-form-control>
    <nz-input-number [ngModel]="quantity()" (ngModelChange)="onQuantityChange($event)" [nzMin]="1"
                     [nzMax]="255" [nzStep]="1" [nzDisabled]="quantityLocked()" style="width: 100%"></nz-input-number>
  </nz-form-control>
</nz-form-item>
<nz-form-item>
  <nz-form-label [nzSpan]="4" [nzRequired]="true">{{ '数据格式' | translate }}</nz-form-label>
  <nz-form-control>
    <nz-select [ngModel]="dataType()" (ngModelChange)="onDataTypeChange($event)" style="width: 100%">
      @for (option of dataTypeOptions; track option.value) {
        <nz-option [nzValue]="option.value" [nzLabel]="option.label"></nz-option>
      }
    </nz-select>
  </nz-form-control>
</nz-form-item>
<nz-form-item>
  <nz-form-label [nzSpan]="4" [nzRequired]="true">{{ '字节序' | translate }}</nz-form-label>
  <nz-form-control>
    <nz-select [ngModel]="byteOrder()" (ngModelChange)="onByteOrderChange($event)" style="width: 100%">
      @for (option of byteOrderOptionsFor(dataType()); track option.value) {
        <nz-option [nzValue]="option.value" [nzLabel]="byteOrderDisplay(option.value)"></nz-option>
      }
    </nz-select>
  </nz-form-control>
</nz-form-item>
<nz-form-item>
  <nz-form-label [nzSpan]="4">{{ '缩放系数' | translate }}</nz-form-label>
  <nz-form-control>
    <nz-input-number [ngModel]="scale()" (ngModelChange)="onScaleChange($event)" [nzMin]="0" [nzMax]="10"
                     [nzStep]="0.1" style="width: 100%"></nz-input-number>
  </nz-form-control>
</nz-form-item>
<nz-form-item>
  <nz-form-label [nzSpan]="4">{{ '单位' | translate }}</nz-form-label>
  <nz-form-control>
    <input nz-input [value]="unit()" (input)="onUnitInput($event)" placeholder="℃、kPa..." />
  </nz-form-control>
</nz-form-item>
