<nz-page-header [nzTitle]="pageTitle" [nzGhost]="false">
  <nz-breadcrumb [nzAutoGenerate]="true" nz-page-header-breadcrumb appBreadcrumbTranslate></nz-breadcrumb>
</nz-page-header>

<ng-template #pageTitle>
  {{ '当前账号' | translate }}
</ng-template>

<div style="padding: 20px 20px">
  <nz-card style="width:400px;" [nzHoverable]="false">
    <nz-card-meta
      [nzTitle]="title"
      [nzDescription]="desc"
      [nzAvatar]="avatarTemplate"
    ></nz-card-meta>
  </nz-card>

  <ng-template #title>
    {{ account.user().name }} ({{ account.user().platform }})
  </ng-template>

  <ng-template #avatarTemplate>
    <nz-avatar [nzSrc]="account.user().avatar"></nz-avatar>
  </ng-template>

  <ng-template #desc>
    <nz-row [nzGutter]="[8, 8]">
      <nz-col nzSpan="24">
        <nz-input-search nzEnterButton="{{ '复制' | translate }}" (nzSearch)="onCopy($event)">
          <input nz-input [(ngModel)]="account.user().id" nzVariant="borderless" />
        </nz-input-search>
      </nz-col>
    </nz-row>
  </ng-template>
</div>
