<nz-spin [nzSpinning]="loading()">
  <nz-page-header (nzBack)="location.back()" nzBackIcon [nzTitle]="pageTitle" [nzGhost]="false">
    <nz-breadcrumb [nzAutoGenerate]="true" nz-page-header-breadcrumb appBreadcrumbTranslate></nz-breadcrumb>
    <nz-page-header-extra>
      <button nz-button nzType="primary" [nzLoading]="submitting()" (click)="submit()">
        {{ '保存' | translate }}
      </button>
    </nz-page-header-extra>
  </nz-page-header>

  <ng-template #pageTitle>
    {{ (isEdit() ? '编辑设备点表' : '新建设备点表') | translate }}
  </ng-template>

  <div style="padding: 20px 20px">
    <nz-row [nzGutter]="[8, 8]">
      <nz-col nzSpan="24">
        <nz-card [nzTitle]="'设备信息' | translate" [nzExtra]="deviceInfoExtra">
          <nz-descriptions nzSize="small" [nzColumn]="4">
            <nz-descriptions-item nzTitle="{{ '厂家' | translate }}">{{ deviceInfo().manufacturer || '-' }}
            </nz-descriptions-item>
            <nz-descriptions-item nzTitle="{{ '型号' | translate }}">{{ deviceInfo().model || '-' }}
            </nz-descriptions-item>
            <nz-descriptions-item nzTitle="{{ '从站地址' | translate }}">{{ deviceInfo().slaveId ?? '-' }}
            </nz-descriptions-item>
            <nz-descriptions-item nzTitle="{{ '可见度' | translate }}">
              @if (deviceInfo().visibility === 'public') {
                {{ '公开' | translate }}
              } @else if (deviceInfo().visibility === 'private') {
                {{ '私有' | translate }}
              } @else {
                -
              }
            </nz-descriptions-item>
            <nz-descriptions-item nzTitle="{{ '描述' | translate }}" [nzSpan]="4">
              {{ deviceInfo().description || '-' }}
            </nz-descriptions-item>
          </nz-descriptions>

          <ng-template #deviceInfoExtra>
            <button nz-button (click)="editDeviceInfo()">
              <nz-icon nzType="edit"></nz-icon>
              {{ '编辑' | translate }}
            </button>
          </ng-template>
        </nz-card>
      </nz-col>

      <nz-col nzSpan="24">
        <button nz-button nzType="primary" (click)="addPoint()">
          <nz-icon nzType="plus"></nz-icon>
          {{ '添加点位' | translate }}
        </button>
      </nz-col>

      <nz-col nzSpan="24">
        <nz-table
          [nzBordered]="true"
          [nzData]="points()"
          [nzShowSizeChanger]="true"
          [nzHideOnSinglePage]="true"
          [nzScroll]="{ x: '1200px' }"
        >
          <thead>
          <tr>
            <th nzWidth="100px">{{ '名称' | translate }}</th>
            <th nzWidth="100px">{{ '区域' | translate }}</th>
            <th nzWidth="100px">{{ '地址' | translate }}</th>
            <th nzWidth="100px">{{ '逻辑地址' | translate }}</th>
            <th nzWidth="100px">{{ '数据类型' | translate }}</th>
            <th nzWidth="60px">{{ '读写' | translate }}</th>
            <th nzWidth="60px">{{ '比例' | translate }}</th>
            <th nzWidth="60px">{{ '单位' | translate }}</th>
            <th nzWidth="100px">{{ '描述' | translate }}</th>
            <th nzWidth="160px">{{ '操作' | translate }}</th>
          </tr>
          </thead>
          <tbody>
            @for (point of points(); track $index) {
              <tr>
                <td>{{ point.name || '-' }}</td>
                <td>
                  @if (point.area) {
                    {{ areaLabelKey(point.area) | translate }}
                  } @else {
                    -
                  }
                </td>
                <td>{{ point.address ?? '-' }}</td>
                <td>{{ point.logicalAddress ?? '-' }}</td>
                <td>{{ point.dataType || '-' }}</td>
                <td>
                  @if (point.rw) {
                    {{ rwLabelKey(point.rw) | translate }}
                  } @else {
                    -
                  }
                </td>
                <td>{{ point.scale ?? '-' }}</td>
                <td>{{ point.unit || '-' }}</td>
                <td class="point-description" [title]="point.description || undefined">{{ point.description || '-' }}
                </td>
                <td>
                  <a (click)="editPoint($index)">{{ '编辑' | translate }}</a>
                  <nz-divider nzType="vertical"></nz-divider>
                  <a (click)="movePoint($index, -1)">{{ '上移' | translate }}</a>
                  <nz-divider nzType="vertical"></nz-divider>
                  <a (click)="movePoint($index, 1)">{{ '下移' | translate }}</a>
                  <nz-divider nzType="vertical"></nz-divider>
                  <a class="danger-link" (click)="removePoint($index)">{{ '删除' | translate }}</a>
                </td>
              </tr>
            }
          </tbody>
        </nz-table>
      </nz-col>

    </nz-row>

    <!--    <nz-card [nzTitle]="tableTitle" [nzExtra]="tableExtra">-->


    <!--      <ng-template #tableTitle>-->
    <!--        {{ '点位列表' | translate }}-->
    <!--      </ng-template>-->

    <!--      <ng-template #tableExtra>-->
    <!--      </ng-template>-->
    <!--    </nz-card>-->
  </div>
</nz-spin>
