<nz-spin [nzSpinning]="project.loading()">
  <nz-page-header [nzTitle]="pageTitle" [nzGhost]="false">
    <nz-breadcrumb [nzAutoGenerate]="true" nz-page-header-breadcrumb appBreadcrumbTranslate></nz-breadcrumb>
  </nz-page-header>

  <ng-template #pageTitle>
    {{ '设备' | translate }}
  </ng-template>

  <div style="padding: 20px 20px">
    @if (account.space().id) {
      @if (project.devices().length > 0) {
        <nz-row [nzGutter]="[16, 16]">
          @for (device of project.devices(); track device.did) {
            <nz-col [nzSpan]="6">
              <nz-card [nzHoverable]="true" [nzActions]="[detail]">
                <nz-card-meta [nzTitle]="title" [nzDescription]="desc" [nzAvatar]="avatar"></nz-card-meta>
              </nz-card>

              <ng-template #avatar>
                @if (project.deviceIcon(device); as icon) {
                  <nz-avatar [nzSrc]="icon" [nzSize]="40"></nz-avatar>
                } @else {
                  <nz-avatar [nzSize]="40" nzIcon="hdd"></nz-avatar>
                }
              </ng-template>

              <ng-template #title>
                {{ project.deviceName(device) }}
              </ng-template>

              <ng-template #desc>
                <nz-tag [nzColor]="device.online ? 'success' : 'default'">{{ device.online ? ('在线' | translate) : ('离线' | translate) }}</nz-tag>
                <div>{{ device.did }}</div>
                <div>{{ deviceTypeLabel(device) }}</div>
                <div>{{ '所在空间' | translate }}: {{ project.spaceName(device.space.spaceId) }}</div>
              </ng-template>

              <ng-template #detail>
                <a [routerLink]="['/main/device/detail', device.did]">{{ '详情' | translate }}</a>
              </ng-template>
            </nz-col>
          }
        </nz-row>
      } @else if (!project.loading()) {
        <nz-empty></nz-empty>
      }
    } @else {
      <nz-empty [nzNotFoundContent]="'请先在项目列表中选择一个项目' | translate"></nz-empty>
    }
  </div>
</nz-spin>
