<div class="page">
  <div class="page-header">
    <button nz-button nzType="text" (click)="routerBack()">
      <nz-icon nzType="left" nzTheme="outline" />
      返回
    </button>
    <span class="page-title">我的项目</span>
    <button nz-button nzType="primary" class="create-btn" (click)="openCreate()">
      <nz-icon nzType="plus" nzTheme="outline" />
      创建项目
    </button>
  </div>

  <nz-spin [nzSpinning]="loading">
    <nz-list [nzDataSource]="projects" [nzRenderItem]="item" [nzItemLayout]="'horizontal'">
      <ng-template #item let-project>
        <nz-list-item
          class="project-item"
          [class.selected]="account.currentRootSpaceId() === project.id"
          (click)="select(project)"
        >
          <nz-list-item-meta
            [nzTitle]="title"
            [nzDescription]="description"
            [nzAvatar]="avatar"
          >
            <ng-template #avatar>
              <nz-icon nzType="home" nzTheme="outline" class="project-avatar" />
            </ng-template>
            <ng-template #title>
              <span class="project-name">{{ project.name }}</span>
              @if (account.currentRootSpaceId() === project.id) {
                <nz-tag class="current-tag" nzColor="blue">当前</nz-tag>
              }
            </ng-template>
            <ng-template #description>
              <span class="project-id">{{ project.id }}</span>
            </ng-template>
          </nz-list-item-meta>
          <div class="project-actions" (click)="$event.stopPropagation()">
            <button nz-button nzSize="small" nz-tooltip [nzTooltipTitle]="'空间管理'" (click)="toManage(project)">
              <nz-icon nzType="appstore" nzTheme="outline" />
            </button>
            <button nz-button nzSize="small" nz-tooltip [nzTooltipTitle]="'重命名'" (click)="openRename(project)">
              <nz-icon nzType="edit" nzTheme="outline" />
            </button>
            <button
              nz-button
              nzSize="small"
              nz-tooltip
              [nzTooltipTitle]="'删除'"
              nz-popconfirm
              [nzPopconfirmTitle]="'确定要删除这个项目吗？如果项目下有空间数据，将无法删除。'"
              (nzOnConfirm)="remove(project)"
            >
              <nz-icon nzType="delete" nzTheme="outline" />
            </button>
          </div>
        </nz-list-item>
      </ng-template>
    </nz-list>

    @if (!loading && projects.length === 0) {
      <nz-empty nzNotFoundImage="simple" nzNotFoundContent="暂无项目" />
    }
  </nz-spin>
</div>

<!-- 创建项目 -->
<nz-modal
  [(nzVisible)]="createVisible"
  nzTitle="创建项目"
  [nzOkText]="'创建'"
  [nzCancelText]="'取消'"
  (nzOnOk)="submitCreate()"
>
  <div class="form-item">
    <label for="project-name">项目名称</label>
    <input id="project-name" nz-input placeholder="项目（场地）名称" [(ngModel)]="newName" />
  </div>
</nz-modal>

<!-- 重命名项目 -->
<nz-modal
  [(nzVisible)]="renameVisible"
  nzTitle="重命名项目"
  [nzOkText]="'保存'"
  [nzCancelText]="'取消'"
  (nzOnOk)="submitRename()"
>
  <div class="form-item">
    <label for="rename-project-name">项目名称</label>
    <input id="rename-project-name" nz-input [(ngModel)]="renameName" />
  </div>
</nz-modal>
