@if (device) {
  <nz-layout class="inner-layout">
    <nz-sider nzWidth="300px" nzTheme="light">
      <ul nz-menu nzMode="inline" class="sider-menu">
        @for (s of device.getServices(); track s) {
          <li nz-menu-item (click)="onClickService(s)">
            <nz-tag [nzColor]="'blue'">{{ s.iid }}</nz-tag>
            <span>{{ s.description.get(i18n.getCurrentLang()) }}</span>
            <span style="float: right"><nz-tag nzColor="blue">{{ '版本 {{version}}' | translate: { version: s.type.version } }}</nz-tag></span>
          </li>
        }
      </ul>
    </nz-sider>
    <nz-content class="inner-content">
      @if (service) {
        @switch (style) {
          @case (0) {
            <debugger-tabs-service
              [did]="did"
              [service]="service"
            ></debugger-tabs-service>
          }
          @case (1) {
            <debugger-waterfall-service
              [did]="did"
              [service]="service"
            ></debugger-waterfall-service>
          }
        }
      }
    </nz-content>
  </nz-layout>
}
