<nz-spin [nzSpinning]="loading()">
  <nz-page-header (nzBack)="location.back()" nzBackIcon [nzTitle]="pageTitle" [nzGhost]="false">
    <nz-breadcrumb [nzAutoGenerate]="true" nz-page-header-breadcrumb appBreadcrumbTranslate></nz-breadcrumb>

    <nz-page-header-extra>
      @if (isAdmin()) {
        <button nz-button nzType="primary" nzDanger="" (click)="removeSpace()">{{ '删除项目' | translate }}</button>
      }
    </nz-page-header-extra>

    <nz-page-header-content>
<!--      <nz-descriptions nzSize="small" [nzColumn]="4">-->
<!--        <nz-descriptions-item nzTitle="{{ '组织代码' | translate }}" [nzSpan]="1">{{ organization().id }}-->
<!--        </nz-descriptions-item>-->
<!--        <nz-descriptions-item nzTitle="{{ '组织名称' | translate }}" [nzSpan]="1"><a (click)="editOrganizationName()">{{ organization().name }}</a>-->
<!--        </nz-descriptions-item>-->
<!--        <nz-descriptions-item nzTitle="{{ '创建者' | translate }}" [nzSpan]="1">{{ organization().creator.name }}-->
<!--        </nz-descriptions-item>-->
<!--        <nz-descriptions-item nzTitle="{{ '创建时间' | translate }}" [nzSpan]="1">{{ organization().creator.timestamp ? (organization().creator.timestamp | date:'yyyy-MM-dd HH:mm:ss':'GMT+00:00') : '-' }}-->
<!--        </nz-descriptions-item>-->
<!--      </nz-descriptions>-->
    </nz-page-header-content>
  </nz-page-header>

  <ng-template #pageTitle>
    {{ '项目详情' | translate }}
  </ng-template>

  <div style="padding: 20px 20px">

  </div>
</nz-spin>
