<nz-layout class="app-layout">
  <nz-sider
    class="menu-sidebar"
    nzWidth="256px"
    nzBreakpoint="md"
    [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null"
  >
    <div class="sidebar-logo">
      <a target="_blank">
        <img src="logo_256x256_white.svg" alt="logo" />
        <h1>矩阵</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-menu-item routerLink="/main/dashboard" [nzMatchRouter]="true">
        <nz-icon nzType="dashboard" nzTheme="outline" />
        <span>{{ '首页' | translate }}</span>
      </li>
      <li nz-menu-item routerLink="/main/project" [nzMatchRouter]="true">
        <nz-icon nzType="project" nzTheme="outline" />
        <span>{{ '项目' | translate }}</span>
      </li>
      <li nz-menu-item routerLink="/main/device" [nzMatchRouter]="true">
        <nz-icon nzType="bulb" nzTheme="outline" />
        <span>{{ '设备' | translate }}</span>
      </li>
      <li nz-menu-item routerLink="/main/alarm" [nzMatchRouter]="true">
        <nz-icon nzType="alert" nzTheme="outline" />
        <span>{{ '报警' | translate }}</span>
      </li>
      <li nz-menu-item routerLink="/main/product" [nzMatchRouter]="true">
        <nz-icon nzType="table" nzTheme="outline" />
        <span>{{ '产品' | translate }}</span>
      </li>
    </ul>
  </nz-sider>
  <nz-layout class="app-inner-layout">
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
          <nz-icon class="trigger" [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'" />
        </span>

        <span style="float: right">
          <ul nz-menu nzTheme="light" nzMode="horizontal">
            <li nz-menu-item [nzMatchRouter]="true" (click)="changeLanguage()" style="float: right">
              <span nz-icon nzType="global" nzTheme="outline"></span>
            </li>

            <li nz-menu-item [nzMatchRouter]="true" routerLink="/passport" style="float: right">
              @if (account.login()) {
                <span nz-icon nzType="logout" nzTheme="outline"></span>
                <span>{{ '退出' | translate }}</span>
              } @else {
                <span nz-icon nzType="login" nzTheme="outline"></span>
                <span>{{ '登录' | translate }}</span>
              }
            </li>

            @if (account.login()) {
              <li nz-menu-item [nzMatchRouter]="true" routerLink="/main/account" style="float: right">
                <nz-space>
                  <div *nzSpaceItem>
                    <nz-avatar nzIcon="user" nzSrc="{{account.user().avatar}}"></nz-avatar>
                  </div>
                  <div *nzSpaceItem>
                    {{ account.user().name }}
                  </div>
                </nz-space>
              </li>
            }

            @if (account.login()) {
              @if (account.organization().virtual) {
                @if (account.organization().id) {
                  <li nz-menu-item [nzMatchRouter]="true" routerLink="/main/organization" style="float: right">
                  <nz-space>
                    <div *nzSpaceItem>
                      <span nz-icon nzType="team" nzTheme="outline"></span>
                    </div>
                    <div *nzSpaceItem>
                      {{ account.organization().name }} ({{ account.organization().id }})
                    </div>
                  </nz-space>
                </li>
                } @else {
                  <li nz-menu-item [nzMatchRouter]="true" routerLink="/main/organization/create" style="float: right">
                  <span nz-icon nzType="plus-circle" nzTheme="outline"></span>
                  <span>{{ '创建组织' | translate }}</span>
                </li>
                }
              }
            }

            @if (account.login()) {
              @if (account.space().id) {
                <li nz-menu-item [nzMatchRouter]="true" routerLink="/main/project" style="float: right">
                  <nz-space>
                    <div *nzSpaceItem>
                      <nz-icon nzType="project" nzTheme="outline" />
                    </div>
                    <div *nzSpaceItem>
                      {{ account.space().name }}
                    </div>
                  </nz-space>
                </li>
              } @else {
                <li nz-menu-item [nzMatchRouter]="true" routerLink="/main/project/create" style="float: right">
                  <span nz-icon nzType="plus-circle" nzTheme="outline"></span>
                  <span>{{ '创建项目' | translate }}</span>
                </li>
              }
            }
          </ul>
        </span>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
      <nz-footer>
        2026
        ({{ version }})
      </nz-footer>
    </nz-content>
  </nz-layout>
</nz-layout>
