<nz-form-item>
  <nz-form-label [nzSpan]="4">{{ '成员' | translate }}</nz-form-label>
  <nz-form-control>
    <span>{{ name() }}</span>
  </nz-form-control>
</nz-form-item>
<nz-form-item>
  <nz-form-label [nzSpan]="4" [nzRequired]="true">{{ '角色' | translate }}</nz-form-label>
  <nz-form-control>
    <nz-radio-group nzButtonStyle="solid" [ngModel]="role()" (ngModelChange)="role.set($event)">
      @for (option of options; track option.value) {
        <label nz-radio-button [nzValue]="option.value">{{ option.label }}</label>
      }
    </nz-radio-group>
  </nz-form-control>
</nz-form-item>
