<nz-spin [nzSpinning]="loading()">
  <nz-page-header (nzBack)="location.back()" nzBackIcon [nzTitle]="pageTitle" [nzGhost]="false">
    <nz-breadcrumb [nzAutoGenerate]="true" nz-page-header-breadcrumb appBreadcrumbTranslate></nz-breadcrumb>

    <nz-page-header-extra>
      @if (isAdmin()) {
        <button nz-button nzType="primary" nzDanger="" (click)="removeOrganization()">{{ '删除组织' | translate }}</button>
      }
    </nz-page-header-extra>

    <nz-page-header-content>
      <nz-descriptions nzSize="small" [nzColumn]="4">
        <nz-descriptions-item nzTitle="{{ '组织代码' | translate }}" [nzSpan]="1">{{ organization().id }}
        </nz-descriptions-item>
        <nz-descriptions-item nzTitle="{{ '组织名称' | translate }}" [nzSpan]="1">
          <a (click)="editOrganizationName()">{{ organization().name }}</a>
        </nz-descriptions-item>
        <nz-descriptions-item nzTitle="{{ '创建者' | translate }}" [nzSpan]="1">{{ organization().creator.name }}
        </nz-descriptions-item>
        <nz-descriptions-item nzTitle="{{ '创建时间' | translate }}" [nzSpan]="1">{{ organization().creator.timestamp ? (organization().creator.timestamp | date:'yyyy-MM-dd HH:mm:ss':'GMT+00:00') : '-' }}
        </nz-descriptions-item>
      </nz-descriptions>
    </nz-page-header-content>
  </nz-page-header>

  <ng-template #pageTitle>
    {{ '组织详情' | translate }}
  </ng-template>

  <div style="padding: 20px 20px">
    <nz-row [nzGutter]="[8, 8]">
      @if (isAdmin()) {
        <nz-col nzSpan="24">
          <button nz-button nzType="primary" (click)="addMember()">{{ '添加成员' | translate }}</button>
        </nz-col>
      }

      <nz-col nzSpan="24">
        <nz-table
          [nzData]="organization().members"
          [nzShowSizeChanger]="true"
          [nzHideOnSinglePage]="true"
        >
          <thead>
          <tr>
            <th>{{ '用户ID' | translate }}</th>
            <th>{{ '用户名称' | translate }}</th>
            <th>{{ '角色' | translate }}</th>
            <th>{{ '更新时间' | translate }}</th>
            <th>{{ '操作' | translate }}</th>
          </tr>
          </thead>
          <tbody>
            @for (member of organization().members; track member.userId) {
              <tr>
                <td>{{ member.userId }}</td>
                <td>{{ member.name }}</td>
                <td>{{ member.role === 'admin' ? ('管理员' | translate) : ('普通成员' | translate) }}</td>
                <td>{{ member.update ? (member.update | date:'yyyy-MM-dd HH:mm:ss':'GMT+00:00') : '-' }}</td>
                <td>
                  @if (isMe(member)) {
                    @if (hasOtherAdmin()) {
                      <a (click)="leaveOrganization(member)">{{ '退出组织' | translate }}</a>
                    }
                  } @else {
                    @if (isAdmin()) {
                      <a (click)="editMember(member)">{{ '编辑' | translate }}</a>
                      <nz-divider nzType="vertical"></nz-divider>
                      <a (click)="removeMember(member)">{{ '删除' | translate }}</a>
                    }
                  }
                </td>
              </tr>
            }
          </tbody>
        </nz-table>
      </nz-col>
    </nz-row>
  </div>
</nz-spin>
